.seccion-perfil-login-register {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 0;

    .contenedor-login-register {
        width: 388px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 24px;

        .titulo {
            padding: 24px 0;

            p {
                font-size: 15.8px;
                color: black;
                font-weight: bolder;
            }
        }

        .contenedor-de-input {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .contenedor-input {
                width: 100%;
                margin: 12px 0;

                .label {
                    margin: 0 0 6px 0;

                    label {
                        color: #737373;
                        font-size: 12px;
                    }
                }

                input {
                    padding: 4px 12px;
                    width: calc(100% - 24px);
                    height: 30px;
                    outline: none;
                    border: none;
                    background-color: #F6F6F6;
                    border-radius: 10px;
                    color: black;
                    font-size: 15px;

                    &::placeholder {
                        color: #737373;
                        font-size: 16px;
                    }
                }
            }

            .caracteres-obligatorios{
                color: #737373;
                font-size: 11px;
                margin: -10px 0 6px 0;
                text-align: center;
            }

            .contenedor-de-logueo {
                width: 100%;
                margin: 20px 0 16px 0;

                button {
                    cursor: pointer;
                    border-radius: 16px;
                    background-color: black;
                    color: white;
                    padding: 12px 16px;
                    font-size: 16px;
                    font-weight: bolder;
                    width: 100%;
                    border: none;
                    outline: none;
                }
            }
        }

        .linea-delimitante {
            width: 100%;
            margin: 8px 0 0 0;

            .linea {
                width: 100%;
                background-color: #DDDDDD;
                height: 2px;
            }
        }

        .botones {
            width: 100%;
            margin: 24px 0;

            .cont-boton {
                width: 100%;
                border-radius: 16px;
                background-color: white;
                border: 1.2px solid #DDDDDD;
                height: 46px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                .icono {
                    display: flex;
                    align-items: center;

                    .icon {
                        font-size: 24px;
                    }
                }

                .boton {
                    display: flex;
                    align-items: center;
                    margin: 0 0 0 8px;

                    p {
                        font-weight: bolder;
                        color: black;
                        font-size: 16px;
                    }
                }
            }
        }

        .no-tengo-cuenta {
            width: 100%;
            margin: 6px 0 -14px 0;

            .texto {
                width: 100%;

                p {
                    color: black;
                    font-weight: 600;
                    font-size: 12px;
                }
            }
        }
    }
}

.seccion-perfil-c-ajustes {
    display: flex;
    justify-content: center;
    align-items: center;

    .seccion-perfil-ajustes {
        width: 100%;
        max-width: 560px;
        margin: 44px 0 0 0;

        .error {
            margin: 4px 0 0 0;
            color: red;
            font-size: 11px;
        }

        .mi-info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .icono {
                width: 100%;
                border-radius: 50%;
                background-color: black;
                height: 60px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    font-size: 34px;
                    color: white;
                }
            }
        }

        .linea-limitadora {
            width: 100%;
            margin: 44px 0 25px 0;

            .linea {
                width: 100%;
                background-color: #DDDDDD;
                height: 2px;
            }
        }

        .perfil {
            width: 100%;
            margin: 0 0 20px 0;

            p {
                text-align: center;
                color: black;
                font-weight: bold;
            }
        }

        .contenedor-doble-input {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 20px 0;

            .inp {
                width: 47.2%;

                .label {
                    margin: 0 0 4px 0;

                    label {
                        color: #737373;
                        font-size: 11px;
                    }
                }

                .input {
                    width: 100%;

                    input {
                        width: 100%;
                        height: 34px;
                        color: black;
                        border: 1px solid #DDDDDD;
                        padding: 0 8px;
                        outline: none;
                    }
                }
            }
        }

        .contenedor-textarea {
            width: 100%;

            textarea {
                width: 100%;
                resize: none;
                height: auto;
                min-height: 200px;
                border: 1px solid #DDDDDD;
                padding: 4px 8px;
                color: black;
                outline: none;
            }
        }

        .boton-guardar-cambios {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 16px 0 0 0;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 9px 20px;
                cursor: pointer;
                background-color: white;
                outline: none;
                border: 1px solid #888888;
                color: #888888;
                font-size: 12px;

                &:hover {
                    transition: 0.2s ease-in-out;
                    border: 1px solid #B8A07E;
                    color: #B8A07E;
                }
            }
        }

        .boton-restablecer-cambios {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 16px 0 0 0;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 9px 20px;
                cursor: pointer;
                background-color: white;
                outline: none;
                border: 1px solid #888888;
                color: #888888;
                font-size: 12px;

                &:hover {
                    transition: 0.2s ease-in-out;
                    border: 1px solid red;
                    color: red;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .seccion-perfil-c-ajustes {
        display: flex;
        justify-content: center;
        align-items: center;

        .seccion-perfil-ajustes {
            width: 100%;
            max-width: 560px;
            margin: 44px 0 0 0;

            .error {
                margin: 4px 0 0 0;
                font-size: 11px;
            }

            .mi-info {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                .icono {
                    width: 100%;
                    height: 60px;
                    width: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        font-size: 34px;
                    }
                }
            }

            .linea-limitadora {
                width: 100%;
                margin: 44px 0 25px 0;

                .linea {
                    width: 100%;
                    height: 2px;
                }
            }

            .perfil {
                width: 100%;
                margin: 0 0 20px 0;
            }

            .contenedor-doble-input {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 0 20px 0;

                .inp {
                    width: 48.4%;

                    .label {
                        margin: 0 0 4px 0;

                        label {
                            font-size: 11px;
                        }
                    }

                    .input {
                        width: calc(100% - 16px);

                        input {
                            height: 34px;
                            padding: 0 8px;
                        }
                    }
                }
            }

            .contenedor-textarea {
                width: calc(100% - 16px);

                textarea {
                    width: 100%;
                    height: auto;
                    min-height: 200px;
                    padding: 4px 8px;
                }
            }

            .boton-guardar-cambios {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 16px 0 0 0;

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 9px 20px;
                    font-size: 12px;

                }
            }

            .boton-restablecer-cambios {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 16px 0 0 0;

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 9px 20px;
                    border: 1px solid #888888;
                    font-size: 12px;

                }
            }
        }
    }
}

@media (max-width: 479px) {
    .seccion-perfil-login-register {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 40px 0 0;

        .contenedor-login-register {
            width: 388px;
            display: flex;
            flex-direction: column;
            padding: 18px;

            .titulo {
                padding: 12px 0;

                p {
                    font-size: 15.8px;
                }
            }

            .contenedor-de-input {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .contenedor-input {
                    width: 100%;
                    margin: 12px 0;

                    .label {
                        margin: 0 0 6px 0;

                        label {
                            font-size: 12px;
                        }
                    }

                    input {
                        padding: 4px 12px;
                        width: calc(100% - 24px);
                        height: 30px;
                        font-size: 15px;

                    }
                }

                .contenedor-de-logueo {
                    width: 100%;
                    margin: 20px 0 16px 0;

                    button {
                        border-radius: 16px;
                        padding: 12px 16px;
                        font-size: 16px;
                    }
                }
            }

            .linea-delimitante {
                width: 100%;
                margin: 8px 0 0 0;

                .linea {
                    width: 100%;
                    height: 2px;
                }
            }

            .botones {
                width: 100%;
                margin: 24px 0;

                .cont-boton {
                    width: 100%;
                    height: 46px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icono {
                        display: flex;
                        align-items: center;

                        .icon {
                            font-size: 24px;
                        }
                    }

                    .boton {
                        display: flex;
                        align-items: center;
                        margin: 0 0 0 8px;

                        p {
                            font-size: 16px;
                        }
                    }
                }
            }

            .no-tengo-cuenta {
                width: 100%;
                margin: 6px 0 -14px 0;

                .texto {
                    width: 100%;

                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}