.menu-hamburguesa {
  width: 100%;
  background-color: black;
  height: fit-content;
  position: fixed;
  left: 0;
  top: 50px;
  z-index: 10000000;

  .contenedor-menu-hamburguesa {
    width: 100%;
    height: fit-content;
    padding: 20px 20px 36px 20px;
    display: flex;
    flex-direction: column;

    .secciones {
      display: flex;
      flex-direction: column;

      .seccion {
        display: flex;
        margin: 12px 6px 12px 2px;

        .icono {
          display: flex;
          align-items: center;

          .icon {
            font-size: 25px;
            color: white;
          }
        }

        .texto {
          display: flex;
          align-items: center;
          margin: 0 0 0 10px;

          p {
            font-weight: 600;
            font-size: 15px;
            color: white;
          }
        }
      }
    }

    .ajustes {
      display: flex;
      align-items: center;
      border-top: 1px solid #444444;
      border-bottom: 1px solid #444444;
      padding: 8px 0;
      margin: 10px 0 0 0;

      .ajustes-interior {
        display: flex;
        align-items: center;
        margin: 12px 6px 12px 2px;

        .icono {
          display: flex;
          align-items: center;

          .icon {
            color: white;
            font-size: 24px;
          }
        }

        .texto {
          margin: 0 0 0 10px;
          display: flex;
          align-items: center;

          p {
            color: white;
            font-weight: 600;
            font-size: 15px;
          }
        }
      }
    }

    .cerrar-sesion {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 22px 0 0 0;

      button {
        cursor: pointer;
        font-weight: 600;
        color: white;
        border-radius: 16px;
        outline: none;
        border: 1px solid white;
        background-color: transparent;
        padding: 8px 16px;
      }
    }
  }
}
