.user-not-found{
    width: 100%;
    .contenedor-user-not-found{
        width: 100%;
        .descripcionn{
               h2{
                color: red;
                font-weight: 600;
               }
        }
    }
}